* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

body {
  background-color: #eee;
  height: 100vh;
}

:root {
  --bar-height: 2.7rem;
  --white-color: #fff;
  --black-color: #444;
  --small-text-size: 1.5rem;
  --regular-text-size: 1.7rem;
  --big-text-size: 1.9rem;
}

p,
h1,
h2,
h3,
span {
  color: var(--black-color);
  font-size: var(--regular-text-size);
  font-weight: 400;
}

h3 {
  font-size: var(--small-text-size);
}

select,
button,
label,
option,
select,
input,
textarea {
  font-size: var(--small-text-size);
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.white {
  color: var(--white-color);
}

header .blue-bar {
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
  height: var(--bar-height);
  background-color: #22c;
}

header h1 {
  font-size: var(--regular-text-size);
}

header div:nth-child(2) {
  border-bottom: 0.1rem solid #aaaaaa75;
  height: var(--bar-height);
  padding: 0 1rem;
  align-items: center;
  gap: 3rem;
}

header button {
  border: 0;
  gap: 0.2rem;
  height: min-content;
  padding: 0.25rem 1rem;
}

header button img {
  width: 1.2rem;
  aspect-ratio: 1;
}

header select {
  background-color: transparent;
  border: 0;
}

.profile-box {
  background-color: #22c;
  padding: 0.5rem;
  width: calc(var(--bar-height) * 2 - 1rem);
  position: absolute;
  right: 0;
  top: 0;
}

.profile-box img {
  filter: invert(0.9);
  width: 100%;
  aspect-ratio: 1;
}

footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 9rem);
  left: 0;
  justify-content: end;
  align-items: center;
  padding: 0 4rem;
  height: calc(var(--bar-height) * 1.5);
  gap: 4rem;
  background-color: #cdcdcd;
  border: 0.1rem solid #aaaaaa75;
}

footer button {
  border: 0;
  background-color: transparent;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

footer button:hover {
  background-color: #aaa;
}

footer button img {
  width: 1.5rem;
  aspect-ratio: 1;
}

.main-container {
  padding: 1rem 0;
  width: 100%;
  height: calc(100% - var(--bar-height) * 3.5 - 2rem);
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

#submitBtn,
#resetBtn {
  display: none;
}

.main-container div {
  width: 95%;
}

.main-container .call {
  border: 0.1rem solid #aaaaaa75;
  padding: 0.1rem 1rem;
  width: calc(95% - 2rem);
}

.main-container .call h3 {
  font-size: var(--small-text-size);
}

.main-container .gray-bar {
  gap: 1rem;
}

.main-container .gray-bar img {
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 1rem;
}

.main-container .product,
.main-container .path,
.main-container .title {
  border: 0.1rem solid #aaaaaa75;
}

.main-container .gray-bar {
  width: 100%;
  height: var(--bar-height);
  background-image: linear-gradient(to top, #ccc, #eee);
  align-items: center;
}

.main-container .product h3 {
  font-size: var(--small-text-size);
}

.main-container .gray-bar *:nth-child(2)::before,
.main-container .product .input-box::after {
  content: "*";
  color: #f00;
  font-size: var(--regular-text-size);
  margin-right: 1rem;
}

.main-container .product .input-box {
  gap: 1rem;
}

.main-container .product .container {
  padding: 1rem 0;
}

.main-container select {
  color: #444;
  border: 0.2rem solid #00000015;
  width: 20rem;
  background-color: rgb(245, 245, 245);
}

.main-container .path .container {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}

.main-container .path .container select {
  width: 30%;
}

.main-container .path .container .input-box,
.main-container .title .container .input-box {
  gap: 1rem;
}

.main-container .path .container #path {
  width: 95%;
  border: 0.2rem solid #00000015;
  background-color: rgb(245, 245, 245);
  height: 2.5rem;
  padding-inline: 0.5rem;
}

.main-container .path span,
.main-container .title span {
  color: #f00;
  font-size: var(--regular-text-size);
}

.main-container .title .input-box:last-child span {
  transform: translateX(-4rem);
}

.main-container .title #title {
  width: 95%;
  padding: 0 0.5rem;
  border: 0.2rem solid #00000015;
}

.main-container .title textarea {
  width: 95%;
  height: 10rem;
  resize: none;
}

.main-container .title textarea {
  padding: 0.5rem;
  border: 0.2rem solid #00000015;
}

.main-container .title .container {
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

samp {
  font-size: 1.3rem;
  width: 100%;
  color: #777;
}
